<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= full_app_title(yield(:page_title)) %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 
      media: 'all', 
      'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 
      'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>

  </head>

  <body>
    <!-- listing 5.14 -->
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
      <!-- listing 5.16 -->
      <%= render 'layouts/footer' %>
      
    </div>
  </body>
</html>
